data/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/
.env
# Virtual environment
venv/
env/
.env/

# Ignore actual data files but allow DVC pointer files
data/*.txt
data/*.csv
data/*.parquet
data/*.zip
!data/*.dvc

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo